
.column-container {
  display: flex;
  justify-content: space-between; /* 가로 정렬 및 컬럼 간 여백 추가 */
}

.column {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: calc(100% / 3);
  background-color: #f7f7f7;
}

.column-header {
  background-color: #f2f2f2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px 10px;
}

.add-card-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.move-button-container {
  display: flex; /* 버튼을 가로로 정렬 */
  justify-content: flex-end; /* 버튼을 오른쪽 끝에 정렬 */
  /* 버튼을 수직으로 중앙 정렬 */
  height: 100%; /* 부모 요소인 .column-header의 높이와 동일하게 설정 */
  padding-right: 5px; /* 오른쪽 여백 추가 */
  align-items: flex-start;
  margin-top: -25px;
}

.move-column-left-btn,
.move-column-right-btn {
  border: none;
}


/*서치바*/
body, button, input {
  /*font: 1em Hind, sans-serif;*/
  /*line-height: 1.5em;*/
}
body, input {
  color: #171717;
}
.search-bar {
  display: flex;
}

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
  transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
  width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  margin-left: 1%;
  padding: 0em 1em 1em;
  justify-content: right;
  max-width: 10em;
}
.search-bar input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #171717 inset;
  padding: 0.75em;
  transform: translate(0.5em,0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}
.search-btn {
  background: #171717;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
  transform-origin: 0 50%;
}
.search-btn:before,
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}
.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 1em;
  height: 0.25em;
  transform: translate(0.2em,0) rotate(45deg);
  transform-origin: 0 50%;
}
.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
  background: #2762f3;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}
.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
  opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
  background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
  body, input {
    color: #f1f1f1;
  }
  body {
    background: #171717;
  }
  .search-bar input {
    box-shadow: 0 0 0 0.4em #f1f1f1 inset;
  }
  .search-bar input:focus,
  .search-bar input:valid {
    background: #3d3d3d;
    box-shadow: 0 0 0 0.1em #3d3d3d inset;
  }
  .search-btn {
    background: #f1f1f1;
  }
}


/*?*/
a, a:hover, a:visited{color:#fff; text-decoration:none;}

#pop{
  width: 316px;
  height: 500px;
  background: #FFFFFF;
  color: #fff;
  position: absolute;
  top: 174.4px;
  left: 1457px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
  margin-left: -60.6%;
  margin-top: 3.5%;
}
#close{
  width:100px; margin-top:5%; cursor:pointer; font-weight:bold; color: #171717; margin-left: 32%;
}
#submit{
  width:100px; margin-top:5%; cursor:pointer; font-weight:bold; color: #0018f9; margin-left: 32%;
}

.listBox {
  max-width: 500px;
}

.listInner {
  background-color: #dedede;
  margin: 5px 5px;
  padding: 4px;
}