.column-container {
  display: flex;
  justify-content: space-between; /* 가로 정렬 및 컬럼 간 여백 추가 */
}

.column {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: calc(100% / 3);
  background-color: #f7f7f7;
}

.column-header {
  background-color: #f2f2f2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px 10px;
}

.add-card-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.move-button-container {
  display: flex; /* 버튼을 가로로 정렬 */
  justify-content: flex-end; /* 버튼을 오른쪽 끝에 정렬 */
  /* 버튼을 수직으로 중앙 정렬 */
  height: 100%; /* 부모 요소인 .column-header의 높이와 동일하게 설정 */
  padding-right: 5px; /* 오른쪽 여백 추가 */
  align-items: flex-start;
  margin-top: -25px;
}

.move-column-left-btn,
.move-column-right-btn {
  border: none;
}