<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="#">
  <title>카드 상세 페이지</title>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
          crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/5547fa07a6.js" crossorigin="anonymous"></script>

  <script>
    let jwtCookie_temp = getCookieValueByName('Authorization');
    let jwtCookie = removeBearerPrefix(jwtCookie_temp);
    function getCookieValueByName(name) {
      let cookie = document.cookie;
      let cookiePairs = cookie.split(';');

      for (let i = 0; i < cookiePairs.length; i++) {

        let pair = cookiePairs[i].trim();
        if (pair.startsWith(name + '=')) {
          return pair.substring(name.length + 1);
        }
      }
      return null;
    }

    function removeBearerPrefix(jwtCookie) {
      const prefix = "Bearer%20";
      if (jwtCookie.startsWith(prefix)) {
        return jwtCookie.substring(prefix.length);
      }
      return jwtCookie;
    }
    // js 파일로 분리하게 되면 아래 오류나서 html 에 작성.
    let cardId = [[${cardId}]];
    let boardId = [[${boardId}]];
    window.onload = function () {
      getCardData();
    }

    function getCardData() {
      fetch('/api/cards/' + cardId, {
        method: 'GET',
        headers: {
          'Authorization': `Bearer ${jwtCookie}`,
          'Content-Type': 'application/json'
        },
      })
      .then(response => {
        if (response.status === 400) {
          alert('요청이 실패했습니다.');
        }
        return response.json(); // JSON 형태의 응답 데이터 파싱
      })
      .then(data => {
        console.log(data);
        let due_date = data.due_Date;
        let title = data.title;
        let content = data.content;
        let cardRoleList = data.cardRoleResponseDtoList;
        let commentList = data.commentList;

        let temp_html = `
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex justify-content-between mb-5">
                                    <h4 class="h4 fw-bold">카드 상세화면</h4>
                                    <div>
                                        <h5 class="h5">만료기한 : </h5>
                                        <h4 class="h4">${due_date}</h4>
                                    </div>
                                </div>
                                <h4 class="h4 my-4">${title}</h4>
                                <div class="border border-2 " style="height: 300px">
                                    <p class="m-3">${content}</p>
                                </div>
                                <div class="btn-group mt-4 d-flex justify-content-around">
                                    <button class="btn btn-dark me-5" onclick="addUser()">작업인원추가</button>
                                    <button class="btn btn-dark me-5" onclick="updateCardPage(cardId)">카드수정</button>
                                    <button class="btn btn-dark me-5" onclick="deleteCard(cardId)">카드삭제</button>
                                    <a class="btn btn-dark" href="javascript:window.history.back();">뒤로가기</a>
                                </div>
                                <div class="mt-5">
                                    <h5 class="h5">작업 인원</h5>
                                    <div class="work-userList">
`;

        let user_role_html = '';
        for (let i = 0; i < cardRoleList.length; i++) {
          let role_user = cardRoleList[i].userName;

          let temp_html2 = `
                                        <span class="me-3">${role_user}</span>
                        `;

          user_role_html += temp_html2;
        }
        let temp_html3 = `
                                    </div>
                                </div>
                                <div class="mt-5">
                                    <h5 class="h5">댓글</h5>
                                    <label for="comment-input"></label>
                                    <textarea class="comment-input form-control col-sm-5 mb-3" id="comment-input" rows="5" placeholder="댓글을 입력하세요"></textarea>
                                    <button class="btn btn-dark mt-3" onclick="createComments(cardId)">작성</button>
                                    <div class="commentList-box mt-5">
`;
        let comment_html = '';
        for (let j = 0; j < commentList.length; j++) {
          let comment_username = commentList[j].userName;
          let comment_content = commentList[j].content;

          let temp_html4 = `
                                        <div class="d-flex justify-content-between">
                                            <span>${comment_username}</span>
                                            <div>
                                                <button class="btn btn-dark" onclick="toggleUpdateComment('comment-content-${commentList[j].id}','comment-input-${commentList[j].id}','comment-update-btn-${commentList[j].id}')" value="${commentList[j].id}">수정</button>
                                                <button class="btn btn-outline-dark" onclick="deleteComments(this)" value="${commentList[j].id}">삭제</button>
                                                <button class="btn btn-dark me-2" style="display: none" id="comment-update-btn-${commentList[j].id}" onclick="updateComments('comment-input-${commentList[j].id}',this)" value="${commentList[j].id}">완료</button>
                                            </div>
                                        </div>
                                        <div class="my-2" style="height: 100px">
                                            <p class="m-3" id="comment-content-${commentList[j].id}">${comment_content}</p>
                                            <textarea class="form-control" rows="3" id="comment-input-${commentList[j].id}" style="display: none">${commentList[j].content}</textarea>
                                        </div>
                    `;
          comment_html += temp_html4;
        }
        let temp_html5 =
            `
                                    </div>
                                </div>
                            </div>
                        </div>
                    `
        let box_html = `${temp_html}${user_role_html}${temp_html3}${comment_html}${temp_html5}`;
        $('.container').append(box_html);
      })
      .catch(error => {
        // 오류 처리 로직을 작성합니다.
        console.error(error);
      });
    }
    function requestData() {
      var checkboxes = document.querySelectorAll("input[name='items']:checked");
      var selectedUserIds = [];
      console.log("checkboxes .length : "+checkboxes.length);

      checkboxes.forEach(checkbox => {
        var user_id = checkbox.value;
        selectedUserIds.push(user_id);
        console.log("user_id : "+user_id);
      });
      var requestData = {
        user_id: selectedUserIds
      };

      var url = '/api/cards/' + cardId;
      fetch(url, {
        method: 'POST',
        headers: {
          'Authorization': `Bearer ${jwtCookie}`,
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(requestData)
      })
              .then(response => {
                if (response.status === 400) {
                  alert('요청이 실패했습니다.');
                  window.close(); // 팝업 창 닫기
                } else if (response.status === 201) {
                  alert('할당이 완료되었습니다.');
                  window.close(); // 팝업 창 닫기
                }
              })
              .catch(error => {
                console.error(error);
              });
    }
    function addUser() {
      var popupWidth = 400;
      var popupHeight = 300;
      var screenWidth = window.screen.width;
      var screenHeight = window.screen.height;
      var popupLeft = (screenWidth - popupWidth) / 2;
      var popupTop = (screenHeight - popupHeight) / 2;

      let url = '/api/boards/'+boardId+'/cards/'+cardId+'/users';
        fetch(url, {
          method: 'GET',
          headers: {
            'Authorization': `Bearer ${jwtCookie}`,
          },
        })
                .then(response => {
                  if (response.status === 400) {
                    alert('요청이 실패했습니다.');
                  }
                  return response.json(); // JSON 형태의 응답 데이터 파싱
                })
                .then(data => {
                  window.selectedUserIds = [];
                  // 팝업 창 열기
                  var popup = window.open("", "작업자 할당 하기", "width=" + popupWidth + ", height=" + popupHeight + ", left=" + popupLeft + ", top=" + popupTop);

                  // 팝업 내용 추가
                  popup.document.write("<html><body>");
                  popup.document.write("<h1>작업자 할당 하기</h1>");
                  popup.document.write("<form id='dataRequestForm'>");
                  popup.document.write("<label>인원 : </label><br>");

                  for (let i = 0; i < data.length; i++) {
                    let username = data[i].name;
                    let userId= data[i].id;

                    popup.document.write(`<input type='checkbox' name='items' value='${userId}'>${username}<br>`);
                  }
                  popup.document.write(`<button type='button' onclick="window.opener.requestData()">할당하기</button>`);
                  popup.document.write("</form>");
                  popup.document.write("</body></html>");

                })
                .catch(error => {
                  // 오류 처리 로직을 작성합니다.
                  console.error(error);
                });
    }




        let state = true
        function toggleUpdateComment(prevElementId,nextElementId,completeBtn){

            console.log(prevElementId,nextElementId,completeBtn)

            let prev = document.getElementById(prevElementId);
            let next = document.getElementById(nextElementId);
            let btn = document.getElementById(completeBtn);

            if(state){
                prev.style.display = 'none';
                next.style.display = 'inline';
                btn.style.display = 'inline';
                state = false
            }else{
                prev.style.display = 'inline';
                next.style.display = 'none';
                btn.style.display = 'none';
                state = true
            }
        }
        function createComments(cardId){
            let url = '/api/cards/'+cardId+'/comments';
            let bodyContent = document.getElementById('comment-input').value;
            let formData = {
                content : bodyContent
            }

      fetch(url, {
        method: 'POST',
        headers: {
          'Authorization': `Bearer ${jwtCookie}`,
          "Content-Type": "application/json"
        },
        body: JSON.stringify(formData)
      })
      .then(response => response.json())
      .then(data => {
        successMsg("댓글 작성 성공");
        window.location.reload();
      })
      .catch(error => {
        errorMsg("댓글 작성 실패");
      });

    }

    function deleteComments(element) {
      let commentId = element.getAttribute('value');
      let url = '/api/comments/' + commentId

      const confirmDelete = confirm("정말 댓글을 삭제하시겠습니까?");
      if (confirmDelete) {
        fetch(url, {
          method: 'DELETE',
          headers: {
            'Authorization': `Bearer ${jwtCookie}`
          },
        })
        .then(response => {
          return response.json(); // JSON 형태의 응답 데이터 파싱
        })
        .then(data => {
          successMsg("댓글 삭제 성공");
          window.location.reload();
        })
        .catch(error => {
          // 오류 처리 로직을 작성합니다.
          errorMsg("댓글 삭제 실패");
        });
      }
    }

    function updateComments(nextElementId, element) {
      let nextValue = document.getElementById(nextElementId).value
      let commentId = element.getAttribute('value');

      let formData = {
        content: nextValue
      }
      fetch('/api/comments/' + commentId, {
        method: 'PUT',
        headers: {
          'Authorization': `Bearer ${jwtCookie}`,
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
      })
      .then(response => {
        return response.json(); // JSON 형태의 응답 데이터 파싱
      })
      .then(data => {
        successMsg("댓글 수정 성공");
        window.location.reload();
      })
      .catch(error => {
        // 오류 처리 로직을 작성합니다.
        errorMsg("댓글 수정 실패");
      });
    }

    function updateCardPage(cardId) {
      window.location.href = '/view/cards/' + cardId + '/update';
    }

    function deleteCard(cardId) {
      const confirmDelete = confirm("정말 카드를 삭제하시겠습니까?");
      if (confirmDelete) {
        let url = '/api/cards/' + cardId;
        fetch(url, {
          method: 'DELETE',
          headers: {
            'Authorization': `Bearer ${jwtCookie}`,
          },
        })
        .then(function (response) {
          if (response.ok) {
            successMsg('카드가 성공적으로 삭제되었습니다.');
            history.back();
          } else {
            errorMsg('카드 삭제에 실패했습니다.');
          }
        })
        .catch(function (error) {
          console.log('게시글 삭제 중 오류가 발생했습니다.', error);
        });
      }
    }

    function successMsg(msg) {
      Toast.fire({
        icon: 'success',
        title: msg
      }).then(function () {
        window.history.back();
      })
    }

    function errorMsg(msg) {
      Toast.fire({
        icon: 'error',
        title: msg
      }).then(function () {
        window.location.reload();
      })
    }

  </script>

</head>
<body>

<div class="container" style="width: 978px; margin-top: 100px">
</div>

</body>
</html>